/* Reset styles*/

/* Remove padding and margin */ 
*  
    { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

#reward_widget div, #reward_widget span,
/*#reward_widget h1, #reward_widget h2, #reward_widget h3, #reward_widget h4, #reward_widget h5,*/
#reward_widget h6, #reward_widget p, #reward_widget a, #reward_widget abbr, #reward_widget acronym,
#reward_widget address, #reward_widget big, #reward_widget cite, #reward_widget code,
#reward_widget del, #reward_widget dfn, #reward_widget em, #reward_widget img, #reward_widget ins,
#reward_widget kbd, #reward_widget q, #reward_widget s, #reward_widget samp,
#reward_widget small, #reward_widget strike, #reward_widget strong, #reward_widget sub,
#reward_widget sup, #reward_widget tt, #reward_widget var,
#reward_widget u, #reward_widget i, #reward_widget center,
#reward_widget dl, #reward_widget dt, #reward_widget dd, #reward_widget ol, #reward_widget ul,
#reward_widget li, #reward_widget fieldset, #reward_widget form, #reward_widget label, #reward_widget legend,
#reward_widget table, #reward_widget caption, #reward_widget tbody, #reward_widget tfoot,
#reward_widget thead, #reward_widget tr, #reward_widget th, #reward_widget td,
#reward_widget article, #reward_widget aside, #reward_widget canvas, #reward_widget details, #reward_widget embed,
#reward_widget figure, #reward_widget figcaption, #reward_widget footer, #reward_widget header,
#reward_widget menu, #reward_widget nav, #reward_widget output, #reward_widget ruby, #reward_widget section, #reward_widget summary,
#reward_widget time, #reward_widget mark, #reward_widget audio, #reward_widget video {
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
#reward_widget article, #reward_widget aside, #reward_widget details, #reward_widget figcaption, #reward_widget figure,
#reward_widget footer, #reward_widget header, #reward_widget menu, #reward_widget nav, #reward_widget section #reward_widget  {
	display: block;
}
#reward_widget ol,  #reward_widget ul {
	list-style: none;
}

#reward_widget table {
	border-collapse: collapse;
	border-spacing: 0;
}

#reward_widget h1,
#reward_widget h2,
#reward_widget h3,
#reward_widget h4,
#reward_widget h5,
#reward_widget h6 {
    /*line-height: normal;*/
}
/* end reset styles*/
.reward_widget {
	position: fixed;
	top: 200px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.reward_widget_prehead {
	width: 280px;
	height: 5px;
	border-radius: 0px 0px 0px 8px;
	border-bottom: 4px solid #5B64B9;
}
 #reward_widget div.reward_widget_head {
	width: 290px;
	height: 120px;
	/*border-top: 4px solid #5B64B9;*/
	/*border-right: 1px solid #5B64B9;*/
	/*border-bottom: 4px solid #5B64B9;*/
	text-align: center;
	/*border-radius: 0px 8px 8px 0px;*/
	display: inline-block;
	vertical-align: text-bottom;
	background: #E9FBFB;

}
#reward_widget div.reward_widget_head-midle {
	height: 116px;
	width: 10px;
	border-top: 4px solid #5B64B9;
	border-bottom: 4px solid rgba(0, 0, 0, .0);
	vertical-align: text-bottom;
	display: inline-block;
	margin-left: -15px;
}
#reward_widget div.reward_widget_head-right {
	height: 116px;
	width: 20px;
	display: inline-block;
	border-top: 4px solid #5B64B9;
	border-right: 4px solid #5B64B9;
	border-bottom: 4px solid #5B64B9;
	border-radius: 0px 8px 8px 0px;
	vertical-align: text-bottom;
	margin-left: -5px;
	background: #E9FBFB;
}
#reward_widget div.reward_widget_head_block {
	display: inline-block;
	margin-top: -4px;
}

div.reward_widget_head h2 {
	/*margin-top: 20px;*/
	padding-top: 10px;

	color:#5B64B9; 
}
div.reward_widget_head p {
	color: #5B64B9;
}
div.reward_cirlce_row + div {
	color: #5B64B9;
}
#reward_widget .reward_max_today {
	font-size: 11px;
}
#reward_widget div.reward_widget_body_block {
	vertical-align: text-bottom;
	margin-top: -4px;
}
div.reward_widget_body {
	width: 284px;
    height: 200px;
    /* border-right: 4px solid #5B64B9; */
    /* border-bottom: 4px solid #5B64B9; */
    border-radius: 0px 8px 8px 0px;
    display: inline-block;
    background: #E9FBFB;
    margin-right: -14px;
}
div.reward_widget_body > div {
	height: 50px;
	background: #5B64B9; 
}
div.reward_widget_body_midle > div {
	width: 19px;
    height: 50px;
    background: #5B64B9;
    margin-left: -5px;
}
#reward_widget div.reward_widget_body p:nth-child(1) {
	color: #F6F123;
	font-weight: 900;
	margin-left: 30px;
	/*float:left;*/
}
#reward_widget div.reward_widget_body div div p:nth-child(2) {
	color: #F6F123;
	font-weight: 900;
	margin-left: 30px;
	float:left;
}
#reward_widget .reward_widget_body div div {
	float: left;
	padding-top: 4px;
}
#reward_widget div.reward_widget_body button {
	display: inline-block;
	background: #F6F123;
	padding: 8px 7px;
	border-radius: 5px;
	margin-left: 25px;
	text-transform: uppercase;
	font-weight: 700;
	color: #5B64B9;
	font-size: 11px;
	vertical-align: -13px;
}
#reward_widget div.reward_widget_body button:hover {
	background: #f6ba23;
	cursor:pointer;
}
#reward_widget .myreward_widget_body_main_text {
	font-size: 14px;
    margin-left: 27px;
    margin-top: 10px;
	color: #5B64B9;
}
#reward_widget div.image_ph {
	width: 75px;
	height: 75px;
	float: left;
	background: #79E6E6;
	margin: 10px;
}
#reward_widget div.reward_widget_body button.learn-more {
	width: 55px;
	height: 55px;
	cursor: pointer;
	background: #79E6E6;
	border: 2px solid #5B64B9;
	border-radius: 6px;
	margin-top: 20px;
}
#reward_widget div.reward_widget_body button.learn-more:hover {
	background: #799AE6; 
}
div.reward_widget_body_midle {
	height: 200px;
	width: 15px;
	display: inline-block;
	border-bottom: 4px solid #5B64B9;
	/*border-right: 4px solid #5B64B9;*/
	border-radius: 7px 4px;
	margin-right: -4px;
} 
 #reward_widget span.myreward_arrow {
	font-size: 28px;
    font-weight: 900;
    /* padding-bottom: 16px; */
    margin-top: -10px;
    display: block;
}
@-moz-document url-prefix() {
    #reward_widget span.myreward_arrow  {
        margin-top: -23px;
    }
}
div.reward_widget_body_right {
	height: 200px;
	width: 4px;
	border-left: 4px solid #5B64B9;
	border-top: 2px solid #5B64B9;
	border-radius: 8px 0px 0px 0px;
	display: inline-block;
	margin-left: -5px;

}
div.reward_widget_footer {
	width: 282px;
	height: 5px;
	border-top: 4px solid #5B64B9;
	border-radius: 8px 0px 0px 0px;
    margin-top: -4px;
}

div.reward_cirlce {
	background: #79E6E6;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: left;
}
#reward_widget .little {
	width: 16px;
    height: 16px;
    margin-top: 36px;
}
#reward_widget .little span {
	font-size: 10px;
    font-weight: bold;
    color: #F6F123;
    padding-left: 2px;
    padding-top: 2px;
    display: inline-block;
}
div.reward_cirlce p{
	padding-top: 6px;
	color: white;
}

div.reward_cirlce_row {
	/*display: inline;*/
	/*float: right;*/
	padding-left: 25px;
	padding-top: 10px;

}
#reward_widget .current  {
	background: #5B64B9;
}
#reward_widget .current p{
	color: #F6F123; 
}
.reward_line {
	width: 10px;
	height: 2px;
	background: #79E6E6;
	float: left;
	margin-top: 14px;
}

#reward_widget .reward_cross {
  color: #5B64B9;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  /*margin-top: -6px;
  display: block;*/
}
.reward_widget_head-right a:link {
    text-decoration: none;
}

#reward_widget span.rotate {

/* Safari */
-webkit-transform: rotate(90deg);

/* Firefox */
-moz-transform: rotate(90deg);

/* IE */
-ms-transform: rotate(90deg);

/* Opera */
-o-transform: rotate(90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
font-size: 12px;
display: block;

}

#reward_widget div span.rotate:nth-child(1) {
	color: #79E6E6;
    font-size: 10px;
    padding-top: 3px;
	font-weight: 900;
}
#reward_widget div span.rotate:nth-last-child(1) {
	color: #5B64B9;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    padding-top: 3px;
    padding-left: 2px;
}

/*====================== PREWIDGET =================*/

#pre_widget{
	position: fixed;
	top: 200px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #E9FBFB;
	opacity: .5;
	cursor: pointer;

	/*background: yellow;*/
	/*border: 1px solid #5B64B9;
	height: 100px;
	width: 20px;*/
}
#pre_widget:hover {
	opacity: 1;
}
#pre_widget .head {
	width: 20px;
	height: 3px;
	border-bottom: 4px solid #5B64B9;
	border-radius: 0px 0px 0px 8px;
}
#pre_widget .body {
	width: 20px;
    height: 130px;
    border-right: 4px solid #5B64B9;
    border-radius: 0px 10px 10px 0px;
    margin-top: -5px;
}
#pre_widget .footer {
	width: 20px;
	height: 3px;
	border-top: 4px solid #5B64B9;
	border-radius: 8px 0px 0px 0px;
	margin-top: -5px;
}
#pre_widget div.arrow {
	color: #5B64B9;
	font-size: 14px;
}
#pre_widget div.body-text {
	/* Safari */
	-webkit-transform: rotate(90deg);

	/* Firefox */
	-moz-transform: rotate(90deg);

	/* IE */
	-ms-transform: rotate(90deg);

	/* Opera */
	-o-transform: rotate(90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

	font-size: 13px;
	margin-top: 13px;
}
/*#pre_widget div.my {
	color: #79E6E6;
	display: block-inline;
}
#pre_widget div.rewards {
	color: #5B64B9;
	display: block-inline;
}*/

#pre_widget div.circle {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #5B64B9;
	margin-top: 56px;
	margin-left: 2px;
}


